.header_layout {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 80px 20px;
  width: 80%;
  background: #fff;
  min-height: 200px;
}

.header_img {
  width: 280px;
  height: 120px;
}

.header_text {
  max-width: 600px;
  padding: 10px 0;
}

.title {
  color: #0076be !important;
  font-weight: bold !important;
}

.subtitle {
  margin: 0 auto !important;
  color: tomato !important;
}

.paragraph {
  color: gray;
}
