* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.layout {
  background-color: #f9faff;
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
